<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>проект</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Cute+Font" rel="stylesheet">
</head>
<body>
<header>
    <div class="header__logo">logo</div>
    <nav>
        <div class="topnav" id="mytopnav">
            <a href="">home</a>
            <a href="">project</a>
            <a href="">about</a>
            <a href="">services</a>
            <a href="">blog</a>
            <a href="">get in touch</a>
            <a href="" id="menu" class="icon">&#9776;</a>
        </div>
    </nav>
</header>
    
    
</body>
</html>